/*Font styles*/

body {
    font-family: 'Roboto Condensed', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poiret One', cursive;
}

/*nav menu*/

.icon-bar {
    height: 80vh;
    z-index: 100;
    background-color: #fff;
}
.item {}
.item img {
    height: 10vh;
}

/*First page*/

#home {
    background: url('../Images/rockstar_burger_redmond.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0%;
    position: relative;
}
#home h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bolder;
}
#home-bg {
    background-color: #000;
    opacity: 0.8;
    height: 100vh;
    padding: 1%;
}

/*About*/


/**/

#about h2 {
    font-size: 5em;
}
#about p {
    font-size: 2.5em;
}
#about {
    padding: 2%;
}

/*Menu hover effects*/

.image-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px;
}
.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.overlay-fade-in p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
}
.overlay-fade-in img {
    transition: all 0.2s linear;
}
.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}
.overlay-fade-in h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
}
.overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #FFF;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
}
.overlay-fade-in:hover img {
    transform: scale(1.2);
}
.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}
.overlay-fade-in:hover h2,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}
.overlay-fade-in:hover p {
    transition-delay: 0.1s;
}
.overlay-fade-in:hover .button {
    transition-delay: 0.2s;
}
#menu img {
    height: 40vh;
    width: 100%;
}
#menu-ttl {
    font-size: 5em;
    font-weight: 500;
}
#menu {
    padding: 10% 0;
}

/*About and menu bg*/

#abt-mnu {
    background: linear-gradient(#000, #F9A126);
}

/*Location*/

#loc-ttl {
    font-size: 5em;
}
#location {
    background: url('../Images/eathai-food-court1.jpg');
    background: rgba(0, 0, 0, 0.2);
}
#location p {
    font-size: 2em;
}
@media only screen and (max-width: 40em) {
    #home,
    #home-bg {
        height: auto;
    }
    #loc-ttl {
        font-size: 3em;
    }
}

/*Contacts*/

#contact {
    height: 70vh;
}
.loc-bg {
    height: auto;
}
fieldset {
    border: solid 2px #f60;
    padding: 2%;
}
.form-bg {
    background: none;
    border: solid 2px #f60;
    font-size: 1.2em;
}
input {
    background: none;
    border: solid 2px #f60;
    font-size: 1.8em;
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
